* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#a73737, #7a2828);
}

body.active {
  background-image: linear-gradient(#4b6cb7, #182848);
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #fff;
  text-align: center;

  margin: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  height: 300px;
  width: 450px;
  border-radius: 10px;
  background-color: #EC6F66;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,.2);
}

.container.active {
  background-color: #49a09d;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.numeros {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numeros h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  color: #fff;

  margin-bottom: 30px;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btnIniciar, .btnPausar {
  height: 50px;
  width: 150px;
  margin: 0 5px;

  border: none;
  border-radius: 5px;
  background-color: #fff;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #283048;
  cursor: pointer;
}

.btnIniciar:active, .btnPausar:active {
  transform: scale(0.9);
}

.ciclos, .descritivo {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.ciclos {
  color: #cdcdcd;
  margin-top: 30px;
  font-size: 1rem;
}

.descritivo {
  color: #fff;
  margin-top: 5px;
  font-size: 1.25rem;
}

.footer {
  text-align: center;
  margin-top: 40px;

  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  color: #fff;
}

.footer a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2.5rem;
  }
  .container {
    width: 375px;
    margin-top: 100px;
  }
  .footer {
    margin-top: 100px;
  }
}